<p>Default color <span style="color: orange;">Orange!</span></p>


<h3 appChangeColor>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas, tenetur?</h3>

<div>
    <input type="radio" name="color" id="red" (click)="changeColorComponet('red')"><label for="red"> RED </label>..
    <input type="radio" name="color" id="green"><label for="green" (click)="changeColorComponet('green')"> GREEN </label>..
    <input type="radio" name="color" id="blue"><label for="blue" (click)="changeColorComponet('blue')"> BLUE </label>
</div>