<h3>Component List</h3>
<mat-list role="list">
    <mat-list-item role="listitem" class="list_pad" routerLink="data-binding">  Data Binding</mat-list-item>
    <mat-list-item role="listitem" class="list_pad" routerLink="parent"> Parents</mat-list-item>
    <mat-list-item role="listitem" class="list_pad" routerLink="child"> Child </mat-list-item>
    <mat-list-item role="listitem" class="list_pad" routerLink="directives"> Directives</mat-list-item>
    <mat-list-item role="listitem" class="list_pad" routerLink="pipes"> Pipes</mat-list-item>
    <mat-list-item role="listitem" class="list_pad" routerLink="assignments"> Assignments</mat-list-item>
    <mat-list-item role="listitem" class="list_pad" routerLink="angform"> Angular From</mat-list-item>
    <mat-list-item role="listitem" class="list_pad" routerLink="comp2"> Child routing</mat-list-item>
    <mat-list-item role="listitem" class="list_pad" routerLink="changeColor">Custom Directive </mat-list-item>
    <mat-list-item role="listitem" class="list_pad" routerLink="data-service" >Data Service </mat-list-item>
    <mat-list-item role="listitem" class="list_pad" routerLink="material-ui" >Material UI </mat-list-item>
    <mat-list-item role="listitem" class="list_pad" routerLink="crud" >Crud </mat-list-item>

  </mat-list>
  
